language: python

python:
  - "3.5"

env:
  - DJANGO_VERSION=1.8.4

sudo: false

install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install -r requirements.txt
  - pip install psycopg2
  - python manage.py migrate sites
  - python manage.py migrate auth
  - python manage.py migrate

  # command to run tests
script:
  - python manage.py test